.card-tags{
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
}
.card-tag{
  padding: 8px;
  border-radius: 4px;
}
.card-tag:hover{
  opacity: 0.8;
}
.card-tag:active{
  border: 2px solid white;
}
.card-tag:not(:first-child) {
  margin-left: 5px;
}
.card-tag.background-color-water{
  color: white;
  background-color: #81c1f5;
}
.card-tag.background-color-grass{
  color: white;
  background-color: #6dd17b;
}
.card-tag.background-color-fighting{
  color: white;
  background-color: #e6c05a;
}
.card-tag.background-color-ghost{
  color: white;
  background-color: #7b62a3;
}
.card-tag.background-color-ground{
  color: white;
  background-color: brown;
}
.card-tag.background-color-dark{
  color: white;
  background-color: black;
}
.card-tag.background-color-normal{
  color: white;
  background-color: grey;
}
.card-tag.background-color-steel{
  color: white;
  background-color: #9eb7b8;
}
.card-tag.background-color-rock{
  color: white;
  background-color: #a38c21;
}
.card-tag.background-color-psychic{
  color: white;
  background-color: blueviolet;
}
.card-tag.background-color-fairy{
  color: white;
  background-color: #fdb9e9;
}
.card-tag.background-color-poison{
  color: white;
  background-color: #b97fc9;
}
.card-tag.background-color-ice{
  color: white;
  background-color: #51c4e7;
}
.card-tag.background-color-bug{
  color: white;
  background-color: #729f3f;
}
.card-tag.background-color-electric{
  color: white;
  background-color: #eed535;
}
.card-tag.background-color-flying{
  color: white;
  background-color: #3dc7ef;
}
.card-tag.background-color-fire{
  color: white;
  background-color: red;
}